:80 {
    root * /srv
    encode gzip

    handle /api/* {
        reverse_proxy BE_FinalProject:8080
    }

    @static {
        path *.js *.css *.png *.jpg *.jpeg *.gif *.ico *.svg *.woff *.woff2
    }
    header @static Cache-Control "public, max-age=31536000, immutable"

    handle {
        try_files {path} /index.html
        file_server
    }
}